@import url('animation.css');
/*Global Format*/
* {
margin: 0;
}
html, body {height: 100%;font-size:13px;}
#wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -60px;position:relative;}
/*Header*/
label, input, button, select, textarea{font-size:13px;}
a{cursor:pointer;}
hr{margin:5px 0 10px 0;}
select{height:26px;margin:0;}
.page-header{margin:10px 0;}
.page-header > *{margin:0;}
.page-header .btn-group.open .btn.dropdown-toggle{background-color:#F5F5F5;}
.page-header .dropdown-menu{width:94px; margin:0;}
.page-header .dropdown-menu li > a{padding:3px 10px;}
.secondary-nav .btn{overflow:visible}
.navbar .nav > li{min-width:100px; text-align:center;}
.icon-calendar{display:inline-block !important;}
.navbar .nav > li{position:relative;}
.navbar .nav > li > .dropdown-menu:before{left:35px;}
.navbar .nav > li > .dropdown-menu:after{left:36px;}
.dropdown-menu li{text-align:left;}
.nav-tabs > .active > a:focus{color: #3b73b9; background: #ffffff;}
.nav-tabs > li.active > a,.nav-tabs > .active > a:focus,.nav-tabs > .active > a:hover{color: #fff !important; background: #3b73b9 !important;}
.btn-toolbar .btn-group:last-child{margin-right:0;}
.nav-tabs > li > a{padding:2px 10px;}
/*General RDM Global*/
.dib{display:inline-block;}
.ovh{overflow:hidden;}
.ovi{overflow:inherit;}
.np{padding:0;}
.pr{position:relative;}
.icon-remove{cursor:pointer;}
.f15{font-size:15px !important;}
.f13{font-size:13px !important;}
.f12{font-size:12px !important;}
.f11{font-size:11px !important;}
.has-switch label{z-index:10;}
.container{position:relative;}
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.marginTop15{margin-top:15px;}
.marginTop5{margin-top:5px;}
.marginRight5{margin-right:5px;}
.marginRight10{margin-right:10px;}
.marginBottom10{margin-bottom:10px !important;}
.marginBottom5{margin-bottom:5px !important;}
.marginLeft10{margin-left:10px !important;}
.marginLeft20{margin-left:20px !important;}
.marginZero{margin:0 !important;}
.pad10{padding:10px;}
.pad15{padding:0 15px;}
.pad5{padding:5px !important;}
.chosen-container,.w_216{width:216px !important;}
.w_179{width:179px;}
.xsm{width:40px;}
.sm{width:60px;}
.smd{width:80px;}
.md{width:100px;}
.xmd{width:130px;}
.clear{clear:both;}
.width_date_sm{width:69px !important;}
.width_date_annual{width:73px !important;} /* annual ops date */
.width_date_md{width:179px !important;}
.icon-info-sign{font-size:15px; vertical-align:middle;}
.form-horizontal .controls{margin-left:165px;}
.form-horizontal .mnts{margin-left:165px;}
.main_sec .form-horizontal .control-label{width:210px;}
.main_sec .form-horizontal .mnt-label{width: 270px;float: left;text-align: right;cursor:default;}
.main_sec .form-horizontal .controls{margin-left:215px;}
.main_sec .form-horizontal .mnts{margin-left:275px;}
.main_sec .span6{margin-bottom:0;}
.main_sec .table th,.main_sec  .table td{padding:5px;}
table .group{background:#EAEAEA; font-weight:bold;}
table:not(.lh).dataTable th, table.dataTable td{padding:0 8px !important; height:35px;position:relative;}
.lh.dataTable th, table.dataTable td{padding:0 8px !important; height:30px;position:relative;} 
table.dataTable .has-switch{margin:0;}
tr.group{background:#EAEAEA !important;}
tr.group td{border:none;}
.dataTables_filter .btn{margin-right:5px;}
.form-horizontal .control-label{padding-top:3px;margin:0;}
.form-horizontal .mnt-label{padding-top:3px;margin:0;}
.form-horizontal .control-group{margin-bottom:5px;}
.reqr{color:red;font-size:22px;line-height:10px;}
.red{color:red;}
.form-inline{vertical-align:top;}
.vb{vertical-align:bottom !important;}
.vm{vertical-align:middle !important;}
/*.datatable-view .dataTables_wrapper{margin-top:-38px;}*/
.datatable-view .control-group{position:relative; z-index:999; display:inline-block;}
.datatable-view .control-group label{padding-top:3px;}
.transpose-icon img {width: 15px;height: 19px;opacity: 0.6;}
.npt{padding-top:0 !important;}
.dfile{display: inline-block;text-align: center;color: #fff;}	
.fileup{position: relative; width:100%; clear:both;}
.file_detail{padding:10px; background:#f2f2f2; width:96%; margin:10px 0;}
#fileupload{position: absolute;left: 0;width: 65px;opacity: 0;height: 25px;top:0;cursor:pointer; overflow:hidden;}
.df{display:flex !important;}
.op {padding: 3px 5px 0 0 !important;}
.link {margin: 0 5px 0 0 !important;}
.textarea_s{width:75%; min-width:206px; resize:none;}
.dataTables_filter{margin-bottom:10px;}
.dataTables_filter input{margin: 0;width: 150px;}
.dataTables_filter label{display:inline-block;margin: 0;}
.table-controls{margin-top:10px; overflow:hidden;}
table.dataTable{margin-bottom:0;}
.table td i{font-size:20px; cursor:pointer;}
.table input,.table textarea{margin:0;}
.text-center{text-align:center !important;}
.text-right{text-align:right !important;}
.DTFC_LeftHeadWrapper .table-bordered{border-bottom:0;}
.DTFC_LeftBodyWrapper  .table-bordered td:last-child,.DTFC_LeftHeadWrapper{border-right: 1px solid #bfc2c5;}
.dataTable th a{color:#fff;}
.bulk{background:#BFBEBE !important;}
.bulk input{margin:0;}
.miconsumables-row{background:#BFBEBE !important;}
/*Home*/
.home{margin-top:25px;}
.h_head{color: #3b73b9;padding-bottom: 10px;border-bottom: 2px solid;}
.message{background-color:#575757;color:#ffffff}
.home .module {
    min-height: 300px;
}
/*Chosen css*/
.chosen-container-single .chosen-single,.chosen-container-active.chosen-with-drop .chosen-single,.chosen-container-single .chosen-drop{background: #f7f8fa;border-color:#e1e2e5; border-radius:0;box-shadow:none;}
.chosen-container-single .chosen-drop{background:#fff;}
.down+.chosen-container .chosen-drop {bottom: 100%;top: inherit;border-top: 1px solid #aaa;}
.chosen-container .chosen-results{max-height:110px;}
.chosen-container-single .chosen-search input[type="text"]{background-position:100% -21px;}
.chosen-container-multi .chosen-choices{max-height: 85px;overflow: auto;background-color: #f7f8fa;border: 1px solid #e1e2e5; background-image:none;}
.chosen-container{text-align:left;margin-bottom:6px !important;}
.chosen-container-single .chosen-single{height:26px;background-color: #f7f8fa;border: 1px solid #e1e2e5;background-image:none;border-radius:0; padding:2px 8px;box-shadow:none;}
.search-field input{color: #5c5f63 !important;}
/*Accordion style*/
.accordion{margin-bottom:10px;}
.accordion-toggle.in  .icon-caret-right:before{content: "\f0d7";}
.accordion-toggle.in.collapsed  .icon-caret-right:before{content: "\f0da";}
.accordion-heading{background-color: #414141;}
.accordion-heading i{width:10px; display:inline;}
.accordion-heading:hover >a,.accordion-heading a{color:#fff; text-decoration:none;}
.accordion-group{margin-bottom:10px;}
.accordion-toggle.in [class^="icon-"], .accordion-toggle.in [class*=" icon-"]{-webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;}


/*Display none classes*/
.turbine,.cpl,.gotop,.preloader_in,.dhide,.transpose_1,.ram-details,.out_alert,#notifyIcon{display:none;}
/*Navigation*/

.module .nav-pills > li > a{background-color: #edeeef;}
.module .nav-pills > li.active > a{background-color: #3b73b9;}

/*Other*/
.lh35{line-height:35px;}
.lh25{line-height:25px;}
.w30{width:30%;}
.nr{white-space:nowrap;}
.s15{color:#3b73b9;font-size:15px;vertical-align:middle;font-weight:bold; max-width: 250px;overflow: hidden;display: inline-block;text-overflow: ellipsis;white-space: nowrap;}
.s20{font-size:20px;vertical-align:middle;overflow: hidden;display: inline-block;text-overflow: ellipsis;white-space: nowrap;}
.cpl input{margin-bottom:5px;}
.cpl .icon-eraser,#partlevel .icon-eraser{display:block;}
.cpl .btn .icon-eraser{display:inline-block !important;}
.cpl .sm1{width:43px;}
.cpl .sm2{width:20px;}
.strike{text-decoration: line-through;color: #FF4C4C;}

/*event schedule legend*/
ul.e-legend{background: #fff;padding:5px;     width: 385px;margin: 0 auto;border: 1px solid #EAEAEA;font-family: "ge-inspira";font-weight: bold;}
ul.e-legend li{list-style:none; text-align:left; padding-left:15px;position:relative; display:inline-block;margin-right:10px}
.e-legend li:before{position: absolute;left: 0;top: 4px;content:'';}
.e-legend li:nth-child(1):before{width: 12px;height: 2px;background: #2B89D9;top: 8px;}
.e-legend li:nth-child(2):before{width:7px;height:7px;border-radius:50%;border:2px solid #EBAE23;position:absolute;left:0;top:4px;}
.e-legend li:nth-child(3):before{width:10px;height:10px;border-radius:50%;background:#EBAE23;position:absolute;left:0;top:4px;}
.e-legend li:nth-child(4):before{width: 0;height: 0;border-style: solid;border-width: 0 5px 10px 5px;border-color: transparent transparent #33B62A transparent;}
.e-legend li:nth-child(4):after{content:'';width: 0;height: 0;border-style: solid;border-width: 0 3px 8px 3px;border-color: transparent transparent #fff transparent;position:absolute;top:5px;left:2px}
.e-legend li:nth-child(5):before{width: 0;height: 0;border-style: solid;border-width: 0 5px 10px 5px;border-color: transparent transparent #33B62A  transparent;}
.e-legend li:nth-child(6):before{width: 10px;height: 10px;background:#2B89D9;}
.e-legend li:nth-child(7):before{width: 8px;height: 8px;background:#f60;border:1px solid #2B89D9}

.case_remove{padding:2px !important;}
.case_header{padding-bottom: 3px;}
.case_header h4{display:inline-block; width:55px;}
.case_header .btn-filter{margin:0 0 4px 5px; vertical-align:middle;}
.case_header input{width: 100%;position: absolute;height: 100%;z-index: 9;left: 0; opacity: 0; margin: 0;top: 0;}
.edc h4{width:130px;}
.edc a{padding:2px;}
.edc i{margin:0; vertical-align:middle;}
.edc .icon-eye-open{color:#3b73b9;}
.edc .icon-eye-close{color:#F00}
.data_hide{display:none; border:none !important}
.caseid{max-height:62px; width:100%; overflow:auto;font-size:0;}
.caseid .active a{color:#fff;background:#3b73b9; }
.gridview{position:absolute; top:-33px; right:0;}
.gridview a{background:none; border-radius:0; border-color:#8C8C8C;    padding: 1px 8px; margin-left:5px;color:#f2f2f2;}
.gridview a.active{background-color: #e1e2e5;    color: #5c5f63;}
/* .gridview>span{color:#fff;display:inline-block; vertical-align:middle; font-size:12px; margin-right:5px;}
.gridview .has-switch{margin:0;} */
.magic_view>span{margin-top:3px; padding:2px 6px;}
.accordion-group .form-horizontal{padding-top:10px; padding-bottom:5px;}
.col2l{padding-right: 10px; border-right: 1px solid #e1e2e5;}
.tot th{background-color:#8C8C8C;}
.min-hei .accordion-body{max-height:310px; overflow:auto;}
.group  td{border-top: 1px solid #bfc2c5 !important;}
.group  td:last-child{border-right:none !important;}
.all_project .dataTables_wrapper,.marginTopm35>div{top:-35px;}
.h_light{padding: 10px;background: #f2f2f2;}
.h_light.r span{padding:0 20px;}
.h_light.r span:first-child{padding-left:0;}
.gts_list ul{margin:0; text-align:center; font-size:0;}
.gts_list li{display:inline-block; list-style:none; width:4.1%; background:#f2f2f2; margin:0 2px 2px 0; text-align:center; padding:5px 2px; font-size:11px;cursor:pointer; border:1px solid #E4E3E3;position:relative;}
.gts_list li:hover{background:#E4E3E3;}
.gts_list li.active,.gts-detail.active h3{background:#3693f8; color:#fff;}
.gts_details_main{width:100%;overflow:auto; margin-top:20px;}
.gts_details{height:auto; width:9140px;}
.gts-detail{position:relative; overflow:hidden;float:left; width:450px; margin:0 5px 5px 0; height:530px; border:1px solid #E4E3E3;}
.gts-detail h3{background:#D2D2D2; text-align:center; padding-right:5px; line-height: 30px; position:relative;}
.gts-detail h3 i{font-style:normal;}
.control-list{position:absolute; right:5px; top:4px;}
.control-list .btn{padding:0 8px;vertical-align: top;}
.gtcopied{visibility:hidden;}
.gtcopied .btn{vertical-align: top;line-height: 15px;}
.gts-detail h3 span{line-height:18px;}
.gts-detail h3 span .has-switch.switch-mini{margin-bottom:0;}
.gts-detail .forms{width:100%; margin-bottom:10px;}
.forms select{width:110px;}
.gts-detail .forms .pull-left{width:215px; padding:5px;}
.gts-detail .forms label{display: inline-block;width:90px; margin:0; padding-right:10px; text-align:right;}
.gts-detail .has-switch{margin-bottom:3px;}
.gts-detail .disabled span{padding: 5%; 
    margin: 5%;
    display: block;
    text-align: center;
    font-size: 60px;
    color: #fff; z-index:100;}
	.gts-detail .disabled i{cursor:pointer;}
.forms input{margin:0;}
.switch-mini{width:18px !important; padding:0 !important;}
.mb5{margin-bottom:5px;}
.mb5_date{margin-bottom:-5px;} /* annual ops date */
.gts-detail .disabled{position:absolute; width:100%; z-index:105; height:94%; background:rgba(0,0,0,0.6); bottom:0; cursor:not-allowed;}
.gts_list li.marker:before{content:''; position:absolute; width: 0;
height: 0;
    bottom: -7px;
    left: 36%;
border-style: solid;
border-width: 7px 7.5px 0 7.5px;
border-color: #E4E3E3 transparent transparent transparent;}
.gts_list li.marker.active:before{border-color: #3693f8 transparent transparent transparent;}
.h_bulk { background: #F5F5F5 !important;}
/*Turbine add section*/
.turb_add{margin: 10px 10px 0 136px;font-size:0;}
.turb_add>div{font-size:13px;}
.scroll_tab span{display:block;padding: 5px;border:1px solid #e1e2e5;width:auto;height:25px;border-left:0;text-align:center; border-bottom:0;}
.scroll_tab span:last-child{border-bottom:1px solid #e1e2e5}
.scroll_tab ul{max-width: 777px;overflow-x: auto;min-height:150px;max-height: 236px;white-space: nowrap;overflow-y: hidden;margin: 0;font-size: 0;}
.list-turb{display:inline-block; list-style:none; font-size:13px; vertical-align:top;}
.list-turb span:last-child{padding:-15px !important;}
.scroll_tab select{z-index:999;}
.turb_head span{display:block; padding:5px; border:1px solid #e1e2e5; width:65px; height:25px; background:#414141; color:#fff; border-bottom:0;}
.turb_head span:last-child{height:61px;border-bottom:1px solid #e1e2e5;}
.add_val{position: absolute;top: 0;right: -20px;width: 20px;}
#event-chart{position:fixed; z-index:-99999;display:none;}
.popover-content #event-chart{position:relative; z-index:1;display:block;}
td[contenteditable="true"]{background:#E8E8E8;}
/*.gridview .has-switch > div.switch-off{background-color: #3b73b8;}*/
#services_tab table td:first-child input[disabled]{visibility:hidden;}
#services_tab table td select{width:216px;}
#services_tab .input-append,#parts_tab table,#invent_tab table,#fallout_tab table{display:none;}
.pop_parts{color:#3b73b9; cursor:pointer;}
.pop_parts:hover{text-decoration:underline;}
h1 .arrow{color: #A2A2A2;margin: 0 5px;font-size:20px}
.cpl_table thead th, .cpl_table tbody td{text-align:center;}
.copy_gt{text-align:right; margin-bottom:5px; margin-right:5px; font-weight:bold; font-size:11px;}
#partlevel1 tbody td,#partlevel1_wrapper tbody td{text-align:center !important; white-space:nowrap;}
#partlevel1 .icon-eraser{display:block}
#partlevel1 tbody td:first-child .icon-eraser{display:inline-block !important;}
#majorins .sm,#partlevel1 .sm,.invent_table .sm{width:50px}
.smdate{width:70px}
.invent_table .sm{width: 60px;font-size: 11px;}
.invent_table i{    display: block;
    text-align: center;
    margin-bottom: 2px;}
	.rrr td:nth-child(3),.legend span:nth-child(1){background:#ADE6AD;color:#000;}
.legend span:nth-child(2){background:#F79646;color:#000;}
.legend span:nth-child(3){background:#FF8080;color:#000;}
.legend span:nth-child(4){background:#cccccc;color:#000;}
.rrr tr:hover{background:none !important;}
.notes{    padding: 5px;border: 1px solid #EAEAEA;color: #3b73b9;font-size: 12px;margin-bottom: 15px;}
.notes strong{color:initial;}
	.legend span{margin-right: 15px;display: inline-block;vertical-align: middle;line-height:15px; padding: 3px 8px;}
/*Dynamic height*/
.h310{height:310px}
.h282{height:282px} 
/*Main tabs*/
.main_tab a{border-bottom:0 !important; border-left:0 !important; background:#ECECEC}
.main_tab li{position:relative;}
.bblue{border-top:3px solid #3b73b9  !important;}
.byel{border-top:3px solid #ffcf45  !important;}
.bgreen{border-top:3px solid #75d835  !important;}
.bred{border-top:3px solid #de2533  !important;}
.nrlb{border-top-left-radius:0; border-top-right-radius:0;}
/*Preloader*/
.preloader{position:absolute; width:100%; background:rgba(0,0,0,0.7); z-index:999; display:none;}
.spinnerjs{position: absolute;width: 100%;top:0;background: rgba(0,0,0,0.7);z-index: 9999;}
.spinnerjs #preview{text-align: center; padding-top: 15px; position: fixed; top: 42%; left: 41%; z-index: 9999; color: #fff;}
/*Preloader Inside*/

.preloader_in #floatingCirclesG{position:relative;top:0;left:0;}
.loader #floatingCirclesG{position:relative;top:0;left:0;}

/*Modal popup*/
.modal.lg{width:860px; margin-left:-430px;}
.modal.fade.in{top:40px !important;}
.ovt tbody td{white-space: nowrap;text-overflow: ellipsis;max-width: 10px;overflow: hidden;}
#load_case .modal-body, #load_project .modal-body  {
    overflow-y:visible;
	max-height:75vh;
}
#cpl_view .modal-body{
    overflow:auto;
}
/******* End General RDM Global ******/

/*Home page - Dashboard*/
.hlegend {
background: #3693f8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    margin-left: 5px;
    color: #fff;
    padding: 2px;
    font-size: 15px;
    font-family: "ge-inspira", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lname {
    margin-left: 10px;
	font-size:14px;
}
.home{margin-top:25px;}
.message {background-color: #575757; color:#fff;}
.home .module {height:300px; margin-bottom:25px;position:relative; z-index:999;}
.double{height:625px !important;}
.nmb{margin-bottom:0 !important;}
.h_head {
    color: #3b73b9;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}
.links_app:after{    background: #fff url('../images/ramdeck1.jpg') center 80% no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
    background-size: 75%;}
	.licence_info{
	height: 335px;
    background: #f2f2f2;
    overflow: auto;
    padding: 10px 5px;
    font-size: 12px;
	}
	.links_app .module-body{position:relative; z-index:999}
	
	.in_alert{ position: absolute;width: 15px;height: 15px;background: #F00;border-radius: 50%;right: 0px;top: -6px;font-size: 14px;color: #fff;text-align: center;
  font-weight: bold;line-height: 15px; display:none;}
  .in_alert1{width: 15px;height: 15px;background: #F00;border-radius: 50%;font-size: 14px;color: #fff;text-align: center;
  font-weight: bold;line-height: 15px;     display: inline-block;}
  .unsave_msg{display:none; position: fixed;background: rgba(248, 0, 0, 0.8);width: 100%;height: 40px;z-index: 107;bottom: 0;color: #fff;text-align: center;line-height: 40px;font-size: 18px;font-family: "ge-inspira";font-weight: bold;}
  .unsave_error{line-height: 32px;
    padding-left: 10px;
    font-size: 16px;
    font-family: "ge-inspira";
    font-weight: bold;
    color: #f00;}
  .unsave_msg button{background: none; display:none;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff; margin-left:10px;}
/*Popover*/
.reset_pop {
      max-width: 250px !important;
      width: 250px !important;

    }
.reset_pop .popover-content {
      max-height: 250px !important;
      overflow: hidden;
    }
	   .popover-content {
    max-height: 150px;
    overflow: auto;
}
/* .sf_pop {
      max-width: 110px !important;
      width: 110px !important;
    } */
.sf_pop .popover-content {
	  text-align:center;
      max-height: 250px !important;
      overflow: hidden;
    }

.popover table tbody td{padding:2px;}
.popover{z-index:1064;}

/* line 11, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button {
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #DEDEDE;
  
  position: relative;
  text-align: left;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color:#E2E2E2;
}
/* line 29, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button.deactivate {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default !important;
}
/* line 32, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button.deactivate label, .toggle-button.deactivate span {
  cursor: default !important;
}
/* line 36, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button > div {
  display: inline-block;
  width: 150px;
  position: absolute;
  top: 0;
}
/* line 41, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button > div.disabled {
  left: -50%;
}
/* line 45, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button input[type=checkbox] {
  display: none;
}
/* line 53, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button span, .toggle-button label {
  cursor: pointer;
  position: relative;
  float: left;
  display: inline-block;
}
/* line 60, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button label {
    border-radius: 13px;
    border: 1px solid #e1e2e5;
    background-color: #f7f8fa;
    margin-left: -4px !important;
    margin-right: -4px !important;
    margin-top: -1px !important;
    z-index: 10;
    padding: 0 !important;
}
/* line 72, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button span {
  color: #fefefe;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  font-size:9px;
}
/* line 78, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button span.labelLeft {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 3px;
}
/* line 83, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button span.labelRight {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 3px;
  background:#ff5c5c;
  text-indent:2px;
}
/* line 91, ../sass/bootstrap-toggle-buttons.scss */
.toggle-button span.primary, .toggle-button span.labelLeft {
  color: #fefefe;
  background: #46ad00;
  text-align:left;
}

#cmu_tab input[type='checkbox']{opacity: 0;
    float: left;
    width: 20px; height:22px;}
#cmu_tab input[type='checkbox'] + label{    clear: none;
    padding: 18px 0 4px 0px;
	margin:0;
    width: 20px;
    cursor: pointer;
    background: url('../images/On_button.png') left center no-repeat;
    background-size: 100%;
     }
#cmu_tab input[type='checkbox']:checked + label{background: url('../images/Off_button.png') left center no-repeat;background-size: 100%;}
.s_check{ display:inline-block;vertical-align:middle;}
/*Footer*/
/*Goto top*/
.gotop{    position: fixed;
    bottom: 70px;
    right: 20px;}
	.gotop i{ padding: 10px;
	cursor:pointer;
	display:inline-block;
    font-size: 16px;
    background: #333333;
    color: #fff;}
.footer .primary {
  background-color: #13161a;
  width: 100%;
  color: #bfc2c5;
  font-size: 10.5px;
}
/** code for keeping footer at bottom ends **/
.footer, .push {
height: 60px;
}


/* Media Query*/
@media (max-width: 979px){
.navbar .container {
    padding: 0 20px;
}
}
   @media (max-width: 979px) and (min-width: 768px){
.gridview{position:absolute; top:14px;}
.gridview span{color:#000;}
.gridview .has-switch > div.switch-off{background-color:#B9B9B9}
.magic_view{    position: absolute;top: 0px;right: -18px;}
.main_sec .span6{margin-left:0;width:100%;}
.modal.lg{width: 96%;margin-left: 0;left: 20px;}
.scroll_tab ul{max-width:435px;}
}
@media (max-width: 767px){
.gridview{position:absolute; top:14px;}
.gridview span{color:#000;}
.gridview .has-switch > div.switch-off{background-color:#B9B9B9}
.nav-tabs > li > a{padding:2px 8px;}
.magic_view{    position: absolute;top: 0px;right: -10px;}
	.main_sec .span6{clear:both;}
	.accordion-group .form-horizontal{padding:5px 0 0 0;}
	.input-append span.add-on, .input-prepend span.add-on{min-height:26px;}
.modal.lg{width:auto;margin-left:auto;}
.scroll_tab ul{max-width:435px;}
}

/* notification */
.notify{ position: fixed;
    width: 300px;
    min-height:95px;
    top: 105px;
    right: 8.8%;
    background: rgba(0,0,0,0.7);
    z-index: 9999;
    border-radius: 5px; display:none;}
.notify>div>span{    font-size: 15px;
    /* margin-bottom: 10px; */
    display: block;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255,255,255,0.6);}
.notify>div{padding:10px; color:#fff;}
.notify ul{margin-top: 5px;font-size: 12px;margin-left: 20px;}
.notify li{line-height:18px;}
.popover-close{
	padding-right: 21px !important
}
.ldcase-popover-close {
    padding-right: 7px !important;
    padding-top: 7px !important;
}
.in_alert_load{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #F00;
    border-radius: 50%;
    right: 136px;
    top: 189px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 15px;
    display: none;
}

form .btn{border-radius: 0;
    margin-left: 1px;
    line-height: 22px;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{background: url('chosen-sprite.png') -50px 0px no-repeat !important;}